body {
    margin: 0px;
    padding: 0px;
}
#main {
    display: inline;
    font-size: 16px;
    line-height: 30px;
}
#mainContent {
    width: 80%;
    float: none;
    overflow: hidden;
    padding: 1px 20px;
    margin: auto;
}
#sideBar {
    overflow: hidden;
    padding: 0px;
    display: none;
    background: #EBEEF5;
    opacity: 0;
    animation: fadeInLeft 1s;
    animation-fill-mode: both;
}
@keyframes fadeInLeft {
    0% {
        opacity: 0.5;
        transform: translateX(-200px);
    }
    50% {
        opacity: 0.8;
        transform: translateX(5px);
    }
    70% {
        opacity: 0.9;
        transform: translateX(-3px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}	
@media screen and (min-width:600px) and (max-width:1067px){
    #main {
        display: block;
    }
    #mainContent {
    	display: block;
        width: 100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
    }
    #sideBar {
    	display: block;
        overflow: hidden;
        padding: 0px 10px 10px 10px;
        float: left;
        border: none;
    }  
}
@media screen and (max-width:600px){
    #main {
        display: block;
    }
    #mainContent {
        width: 100%;
        overflow: hidden;
        padding: 1px 0px;
        margin: 0px;
        padding: 0px;
    }
     #sideBar {
        overflow: hidden;
        padding: 0px 10px 10px 10px;
        width: 100%;
        border: none;
        margin: 0px;
    }
    #sideBar {
	    width: auto;
	    position: relative;
	    margin: 0 10px;
    }  
}
#header{
	height: 107px;
}

#blogTitle {
   width: 100%;
   height: 67px;
   background-image: url(https://images.cnblogs.com/cnblogs_com/nqdxt/1226816/o_200607102144font4.png);
   /*background-position: center center;*/
   background-repeat: no-repeat;
   background-attachment: scroll;
   background-size: auto 100%;
}
#navigator {
	background: #2F4056;
    height: 40px;
    line-height: 40px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    padding: 0px;
    transition: 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    z-index: 100;
}
a {
    text-decoration: none;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 16px;
    color: #000;
}
h1, h2, h3, h4{
	font-weight: normal;
}
#navigator #navList{
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
}
#navList li{
    float: left;
    width: 70px;
    text-align: center;
    list-style: none;
}
.menu{
    display: block;
    float: left;
    width: 70px;
    height: 40px;
    text-align: center;
    list-style: none;
    color: #FFF;
}
.menu:hover {
	background-color: #FFF;
	color: #2F4056;
}

li{
    list-style: none;
}
.blogStats {
    float: right;
    padding-right: 70px;
    /*color: #FFFFFF;*/
}
@media screen and (max-width:600px){
    .blogStats {
       display: none;
    }
}

.day{
    overflow: hidden;
}
.day .dayTitle {
    display: none;
}
.postTitle{
    padding-top: 20px;
}
.postTitle2{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-weight: normal;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    color: #2F4056;
}
.postTitle2:hover{
    color: #282A91;
}


#blogCalendar{
	padding-left: 40px;
}
#sideBarMain h3 {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 18px;
    height: 36px;
    line-height: 40px;
    font-weight: normal;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}
#sideBarMain ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}
#profile_block{
	padding-left: 40px
}
#sidebar_search_box{
	padding-left: 40px;
}
.c_b_p_desc {
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    line-height: 30px;
}
.c_b_p_desc_readmore {
    margin: 5px; 
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    float: right;
    line-height: 25px;
    height: 25px;
    border: 1px solid #393D49;
    color: #393D49;
    border-radius: 3px;
}
.c_b_p_desc_readmore:hover{
    color: #F92472;
    border: 1px solid #F92472;
    border-radius: 2px;
}
.postDesc {
    text-align: right;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    border-bottom: 1px #c2c2c2 dotted;
}
#myposts .postDesc2 {
    text-align: right;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 16px;
    border-bottom: 1px #c2c2c2 dotted;
}
.entrylistItemPostDesc {
    text-align: right;
    border-bottom: 1px #c2c2c2 dotted;
}
.entrylistPosttitle {
    font-weight: bold;
}
a.entrylistItemTitle {
    font-weight: normal;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
}
@media screen and (max-width:767px){
    .postDesc {
        display: none;
    }
    .entrylistItemPostDesc {
        display: none;
    }
}
.entrylistPosttitle{
    font-weight: bold;
    margin: 10px 0 10px 0;
}
.entrylistItem {
    padding-top: 30px;
    padding-left: 1px;
    padding-right: 1px;
}
.feedback_area_title {
    font-weight: bold;
    margin: 10px 0 10px 0;
}

.input_my_zzk {
    width: 100px;
    vertical-align: middle;
    height: 20px;
    border: 1px solid #000;
}
input.btn_my_zzk {
    vertical-align: middle;
    height: 24px;
    width: 65px;
    font-size: 12px;
    text-align: center;
    background-color: #FFF;
    border: 1px solid #000;
    border-radius: 2px;
}
a#cb_post_title_url {
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 40px;
    height: 45px;
    line-height: 45px;
}
td.CalTodayDay {
    font-weight: bold;
}
td.CalOtherMonthDay {
    color: #EBEEF5;
}
.CalTitle {
    width: 100%;
}
th.CalDayHeader {
    font-weight: normal;
}
#green_channel {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border: none;
    font-size: 12px;
    width: 100%;
    text-align: left;
}
div.commentform textarea {
    width: 99%;
    height: 100px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
p #commentbox_opt {
    text-align: right;
}
.comment_btn {
    height: 25px;
    width: 68px;
    margin: 0;
    padding: 0;
    border: 1px solid #393D49;
    line-height: 25px;
    border-radius: 3px;
    background: #FFF;
}
.commentbox_title_right {
    float: left;
    height: 22px;
}
#footer{
	margin: auto;
    text-align: center;
}



/*生成博客目录的CSS*/
#uprightsideBar{
    font-size:16px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-weight: normal;
    text-align:left;
    position:fixed;/*将div的位置固定到距离top:50px，right:0px的位置，这样div就会处在最右边的位置，距离顶部50px*/
    top:150px;
    right:0px;
    width: auto;
    height: auto; 
}
#sideBarTab{
    float:left;
    width:20px;
    height: 42px;
    line-height: 21px;
    border:1px solid #e5e5e5;
    border-right:none;
    text-align:center;
    background:#ffffff;
}

#sideBarTab h4 {
    margin: 0px;
    padding: 0px;
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#sideBarContents{
	letter-spacing: normal;
    float:left;
    overflow:auto; 
    overflow-x:hidden;!important;
    line-height: 25px;
    font-size: 13px;
    width:270px;
    max-height: 630px;
    border:1px solid #e5e5e5;
    border-right:none; 
    background:#ffffff;
}
@media screen and (min-height:400px) and (max-height:700px){
	#sideBarContents{
	    float:left;
	    overflow:auto; 
	    overflow-x:hidden;!important;
        line-height: 25px;
        font-size: 13px;
	    width:200px;
	    max-height: 550px;
	    border:1px solid #e5e5e5;
	    border-right:none; 
	    background:#ffffff;
	}
}
@media screen and (max-height:400px){
	#sideBarContents{
	    float:left;
	    overflow:auto; 
	    overflow-x:hidden;!important;
	    width:200px;
    	line-height: 25px;
        font-size: 13px;
	    max-height: 260px;
	    border:1px solid #e5e5e5;
	    border-right:none; 
	    background:#ffffff;
	}
}
#sideBarContents dl{
    margin:0;
    padding:0;
}

#sideBarContents dt{
    margin-top:5px;
    margin-left:5px;
}

#sideBarContents dd, dt {
    cursor: pointer;
}

#sideBarContents dd:hover, dt:hover {
    color: #282A91;
}
#sideBarContents dd{
    margin-left:20px;
}


#showSideBar {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    position: fixed;
    top: 107px;
    right: 0px;
    width: 21px;
    height: 43px;
    line-height: 21px;
    background: #FFF;
    outline: none;
    writing-mode: vertical-lr;
    border: 1px solid #e5e5e5;
    border-right: none;
    margin: 0px;
    padding: 0px;
}



/*heightlight*/
.cnblogs-markdown pre {
    white-space: pre!important
}

.cnblogs-markdown .hljs {
    display: block!important;
    overflow-x: auto!important;
    padding: 1em!important;
    background: #282c34!important;
    border: 1px solid #fff!important;
    border-radius: 5px!important;
    font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace!important;
    font-size: 15px!important
}

.hljs,.hljs-subst,.hljs-tag {
    color: #f8f8f2!important
}

.hljs-emphasis,.hljs-strong {
    color: #a8a8a2!important
}

.hljs-bullet,.hljs-link,.hljs-literal,.hljs-number,.hljs-quote {
    color: #ae81ff!important
}

.hljs-meta,.hljs-regexp {
    color: #fd971f!important
}

.hljs-built_in,.hljs-builtin-name,.hljs-code,.hljs-section,.hljs-selector-class,.hljs-title {
    color: #a6e22e!important
}

.hljs-strong {
    font-weight: 700
}

.hljs-emphasis {
    font-style: italic!important
}

.hljs-attr,.hljs-name,.hljs-selector-tag,.hljs-symbol {
    color: #f74449!important
}

.hljs-attribute,.hljs-keyword {
    color: #66d9ef!important
}

.hljs-class .hljs-title,.hljs-params {
    color: #f8f8f2!important
}

.hljs-addition,.hljs-selector-attr,.hljs-selector-id,.hljs-selector-pseudo,.hljs-string,.hljs-template-variable,.hljs-type,.hljs-variable {
    color: #e6db74!important
}

.hljs-comment,.hljs-deletion {
    color: #999!important
}
